<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world  </h1>
</body>

</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="../webD/gaming.css"> -->
    <title>Gaming</title>
</head>

<body>
  
      <header>
         <a href="#" class="logo">Gaming</a>
         <ul class="top-bar">
            <li><a href="#home">Home</a></li>
            <li><a href="#online">online</a></li>
            <li><a href="#offline">offline</a></li>
            <li><a href="#creator">creators</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#careers">careers</a></li>
            <li><a href="#partners">partners</a></li>
         </ul>
      </header>

         <div id="home" class="i1">
            <h2>" Welcome to Gaming world!."</h2>
            <button id="button">Explore</button>
         </div>

         <div id="online" class="i2">
            <h1 id="id123">Online</h1>
            <p id="id123">Online gaming describes any video game that offers online interactions with other players. Video games used to be classified by an Online Content PEGI descriptor to signify whether they were online or not. However, as most games now provide online interactions this distinction is no longer used.</p>

         </div>

         <div id="offline" class="i2">
            <h1 id="id123">Offline</h1>
            <p id="id123">There is only one section where offline gaming options are ahead of the online games which is ease of usage and flexibility of time.</p>

         </div>

         <div id="creator" class="i2">
            <h1 id="id123">Creators</h1>
            <p id="id123">welcome to the online store</p>

         </div>

         <div id="about" class="i2">
            <h1 id="id123">about</h1>
            <p id="id123">Gaming refers to playing electronic games, whether through consoles, computers, mobile phones or another medium altogether. Gaming is a nuanced term that suggests regular gameplay, possibly as a hobby. Although traditionally a solitary form of relaxation, online multiplayer video games have made gaming a popular group activity as well.</p>

         </div>
         <div id="careers" class="i2">
            <h1 id="id123">careers</h1>
            <p id="id123">Careers in gaming are occupations that offer opportunities to take part in the creation, production, development, testing, marketing, or selling of games. Especially for those interested in technology, a career in the gaming industry can be a rewarding way to align your passions with your career goals.</p>

         </div>
         <div id="partners" class="i2">
            <h1 id="id123">partners</h1>
            <p id="id123">welcome to the online store</p>
        

         </div>
         <div class="margin"></div>
         
</body>

<style>


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{  margin-color: black;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;

}
.margin{
    margin:70% 0%;
    scroll-behavior: auto;

}
html{
    scroll-behavior: smooth;
}

body{
    background: no-repeat url("https://wipaste.com/assets/img/index/gamer-zone.jpg");
    background-size: cover;
    image-rendering: high-quality;
    background-attachment: fixed;
    overflow: scroll;
    overflow-x: hidden;
    }
    ::-webkit-scrollbar{
     width: 0;
    }
 
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:7px 80px;
    display:flex;
    justify-content:space-between;
    align-items:right;
    transition:.5s;
    background:#050121;
    z-index: 1000;
}
header .logo{

    position: relative;
    color:white;
    margin-top:5px;
    font-weight: 1000;
    font-size:1.5em;
    text-decoration: none;
}
 header .top-bar{
    display:flex;
    justify-content:right;
    align-items:right;
 }
 header ul li{
    list-style:none;
    margin:1px;
    padding-top:10px;
    
 }
 header ul li a{
    color:white;
    text-decoration:none;
    padding:10px 20px;
    
 }
 header ul li a:hover{
    background:#1aeeef;
    color:black;
   
    box-shadow: 0 0 10px #1aeeef;
    border-radius:2500px;

 }
 .i1{
    color:white;
    font-style: italic;
    font-weight: 900;

    padding: 250px 0px 0px 20px;
    nav-right: 10%;
 }
 #button{
display : inline-block;
padding: 10px 20px;
margin: 20px ;
margin-left: 100px;
border: none;
font-size:1em;
text-decoration: none;
font-weight: 800;
border-radius:5px;
background:linear-gradient(to right,#401787,#4219BF);
color:white;
letter-spacing:1px;
 }
 #button:hover{
    background:#1aeeef;
    border:none;
    color:#050e2d;
    box-shadow: 0 0 10px #1aeeef;
 }
 .i2{
    color:white;
    text-align: center;
    font-style: italic;
    font-weight: 900;
    margin-top: 30%;
    padding: 400px 0px 250px 20px;
    nav-right: 10%;
    background-color:rgb(16, 16, 40);
    opacity: 95%;
 }

</style>

</html>